html {
  font-family: sans-serif;
}

.card {
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #333;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}

.card:hover {
  background-color: #e6e6e6;
  color: #000;
}

.card:hover .btn {
  background-color: #333;
  color: #fff;
}
